@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@using OfbooxSocial.Models.ViewModels;
@model LoginViewModel;

<div class="container col-lg-6 col-md-sm-8 col-sm-10 col-xs-12">
    <div class="row">
       <div class="col text-center">
            <h1>LOGIN</h1>
       </div>
    </div>
    @if (ViewData["ServerError"] != null)
    {
        <div class="row text-danger">
            @ViewData["ServerError"];
        </div>

    }
    <form asp-controller="Login" asp-action="Index">
        
            <div class="row form-group">
                <div class="col">
                    <input class="form-control" type="text" asp-for="Username" placeholder="Username" />
                </div>
            </div>
            @if (ViewData["UsernameError"] != null)
            {
                <div class="row">
                    <div class="col text-danger">
                        @ViewData["UsernameError"]
                    </div>
                </div>
            }
            <div class="row form-group">
                <div class="col">
                    <input class="form-control" type="password" asp-for="Password" placeholder="Password" />
                </div>
            </div>
            @if (ViewData["PasswordError"] != null)
            {
                <div class="row">
                    <div class="col text-danger">
                        @ViewData["PasswordError"]
                    </div>  
                </div>
            }
            @if (ViewData["LoginError"] != null)
            {
                <div class="row">
                    <div class="col text-danger">
                        @ViewData["LoginError"]
                    </div> 
                </div>
            }
        <div class="row form-group justify-content-end">
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <input class="form-control btn-primary" value="LOG IN" type="submit" />
            </div>
        </div>
    </form>
</div>

